{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	{% if app.user %}
	<a href="{{ path('app_logout') }}">Logout</a> <br/>
		<h1>Hello {{ app.user.username }}</h1>
		{% if 'ROLE_ADMIN' in app.user.roles %}

			<a href="{{ path('app_pokedex_index') }}">Pokedex</a> <br/>

		{% endif %}
		
		<a href="{{ path('app_pokemon_colection') }}">Tus Pokemons</a> | <a href=" {{ path('app_battle_hunt') }}">Encontrar Pokemones</a>
	{% else %}
		<a href="{{ path('app_login') }}">Iniciar Sesión</a> | <a href="{{ path('app_register') }}">Registrar</a>
	{% endif %}
{% endblock %}
