{% extends 'base.html.twig' %}

{% block title %}Pokemon index
{% endblock %}

{% block body %}
	<h1>Pokemon index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>N Pokedex</th>
				<th>Nombre</th>    <!-- TODO: Añadir imagen del pokemon -->
				<th>Nivel</th>
				<th>Poder</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for pokemon in pokemons %}
				<tr>
					<td>{{ pokemon.pokedex.id }}</td>
					<td>{{ pokemon.pokedex.name }}</td>
					<td>{{ pokemon.level }}</td>
					<td>{{ pokemon.power }}</td>
					<td>
						{% if pokemon.isAlive %}
							Activo
						{% else %}
						    Incapacitado
						{% endif %}
					</td>
					{% if pokemon.isAlive %}
						<td>
						{# TODO: Implementar las acciones #}
							<a href="{{ path('app_pokemon_train', {'id': pokemon.id}) }}">Entrenar</a>
							<a href="{{ path('app_battle_new_wild', {'id': pokemon.id}) }}">Lucha contra pokemones salvajes</a>
							<a href="{{ path('app_battle_new_simple', {'id': pokemon.id}) }}">Lucha contra otros entrenadores</a>
							{# <a href="{{ path('app_battle_new_team'}}">Formar equipo para luchar</a> #}
						</td>
					{% else %}
						<td><span>El pokemon esta muerto</span></td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_pokemon_new') }}">Create new</a>
{% endblock %}
