{% extends 'base.html.twig' %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>¡Un {{ pokedex.name }} salvaje ha aparecido!</h1>

    {% if pokedex.image %}
        <img src="{{ asset('uploads/images/' ~ pokedex.image) }}" alt="{{ pokedex.name }}">
    {% else %}
        <p>No hay imagen disponible.</p>
    {% endif %}

    <p>¿Qué vas a hacer?</p>

    {{ form_start(form) }}
        {{ form_row(form.flee) }}
        {{ form_row(form.hunt) }}
    {{ form_end(form) }}

{% endblock %}

