{% extends 'base.html.twig' %}

{% block title %}Batalla Salvaje{% endblock %}

{% block body %}
    <h1>Batalla contra un {{ pkdx2.name }} salvaje</h1>

    <table>
        <tbody>
            {# Image #}
            <tr>
                <td>
                    <img src="{{ asset('uploads/images/' ~ pkdx1.image) }}" alt="{{ pkdx1.name }}">
                    <p>{{ pkdx1.name }}</p>
                </td>
                <td>
                    <img src="{{ asset('uploads/images/' ~ pkdx2.image) }}" alt="{{ pkdx2.name }}">
                    <p>{{ pkdx2.name }}</p>
                </td>
            </tr>
        </tbody>
    </table>

    <form action="{{ path('app_battle_confirm', {'id': battle.id}) }}" method="post">
        <input type="submit" value="Fight">
    </form>
    {# <a href="{{ path('app_pokemon_colection') }}">Volver a mis pokemons</a> #}
{% endblock %}
